#!/bin/sh
PHPRC="/etc/php/8.0/cgi/"
export PHPRC
PHP_DOCUMENT_ROOT="/usr/local/share/autoweb_webadmin"
export PHP_DOCUMENT_ROOT
# The variable PHP_FCGI_CHILDREN is onyl useful for lighty or nginx as apache 
# mod_fcgi will control the number of childs themself and never use the additional processes.
# PHP_FCGI_CHILDREN=8
# export PHP_FCGI_CHILDREN
PHP_FCGI_MAX_REQUESTS=5000
export PHP_FCGI_MAX_REQUESTS
exec /usr/bin/php-cgi8.0 \
 -d open_basedir="/usr/share/php:/tmp:/var/www/sendmail-wrapper:/usr/local/share/autoweb_webadmin" \
 -d sendmail_path="/usr/sbin/sendmail-wrapper" \
 -d auto_prepend_file="/var/www/sendmail-wrapper/prepend.php" \ 
 -d memory_limit="64M" \ 
 -d post_max_size="300M" \ 
 -d upload_max_filesize="300M" \ 
  $1

