{% extends "base.twig" %}

{% block content %}

<div class="row justify-content-center m-2" id="recoverEmail">
<form class="col-sm-4" method="post">
	<div class="form-group m-2">
		Adresse mail : <input class="form-control" type="email" name="email" placeholder="prenom.nom@example.com" id="email" />
	</div>
	<div class="form-group m-2">
		<div class="g-recaptcha row justify-content-center" data-sitekey="{{ captcha_pubkey }}"></div>
	</div>
	<div class="form-group m-2">
		<input type="submit" value="Valider" class="btn btn-primary form-control" />
	</div>
</form>
</div>

<script src='https://www.google.com/recaptcha/api.js'></script>

{% endblock %}
