<!DOCTYPE html>
<html>
    <head>
        {% block head %}
            <meta charset="utf-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <title>Serveur AutoWeb</title>
            <meta name="viewport" content="width=device-width">
            <link href="css/bootstrap.css" type="text/css" rel="stylesheet"/>
            <link href="css/style.css" type="text/css" rel="stylesheet"/>
            <link href='//fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
            <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
            <script type="text/javascript" src="js/main.js"></script>
		{% if is_admin %}
		<script type="text/javascript">
		  autoweb.is_admin = true;
		</script>
		{% endif %}
        {% endblock %}
    </head>
    <body>
        <div id="content" class="container-fluid col-xl-9">
            <div class="intro">
                <a href="index.php"><img src="img/logo-autoweb.svg"></a>
                <p>Bonjour et bienvenue sur le serveur AutoWeb.</p>
            </div>

            <div class="row">
                <div class="col-lg-6 col-12 text-center">
                    <h3>Outils Utilisateur</h3>
                        <div class="btn-group">
                        <a href="http://pma.{{ domain_name }}" class="btn btn-primary m-2 rounded">phpMyAdmin</a>
                        <!--<li><a href="password.php">Gestion du mot de passe (perte, changement...)</a></li>-->
                        <a href="password.php" class="btn btn-primary m-2 rounded">Renvoi du mot de passe</a>
                        <a href="faq.php" class="btn btn-primary m-2 rounded">Aide / FAQ</a>
                    </div>

                </div>
                <div class="col-lg-6 col-12 text-center">
                    <h3>Outils Administration</h3>
                    <div class="btn-group">
                        <a href="user.php" class="btn btn-primary m-2 rounded">Outils Utilisateur</a>
                        <a href="admin.php" class="btn btn-secondary m-2 rounded">Administration</a>
			<div id="jobs-notify"><div class="content"></div><div id="jobs-tooltip"></div></div>
                    </div>
                </div>
            </div>

            {% if messages and messages is iterable %}
                {% for message in messages %}
                    <div class="alert alert-{{ message.type }}">{{ message.message }}</div>
                {% endfor %}
            {% endif %}

            {% block content %}{% endblock %}
        </div>
        <div id="footer">
            {% block footer %}
                <div class="powered">
                    <a href="https://github.com/auto-web/autoweb" target="_blank" title="Powered by AutoWeb"><img src="img/logo-autoweb.svg"></a><br />
                </div>
            {% endblock %}
        </div>
    </body>
</html>
