<IfModule mod_fcgid.c>
{% if configs.apache_advanced_enable %}
  FcgidConnectTimeout {{ configs.apache_fcgid_connect_timeout }}
  FcgidMaxRequestLen {{ configs.apache_fcgid_max_request_len }}
  FcgidMaxProcesses {{ configs.apache_fcgid_max_processes }}
{% endif %}

  <IfModule mod_mime.c>
    AddHandler fcgid-script .fcgi
  </IfModule>
</IfModule>
